.contact__content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.contact__intro {
  margin-bottom: 2rem;
}

.contact__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact__location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin-top: 2rem;
}